/* Third Party CSS */

/* Theme CSS */
@import './_general.css';
@import './_antd.css';

/* Layout CSS */
@import './layout/verticalLayout.css';
@import './layout/MainMenu.css';
@import './layout/layout.css';
@import './layout/mobileLayout.css';

/* Component CSS */
@import './components/table.css';
@import './components//Header.css';
@import './components/BiologistsComp.css';
@import './components/PhdComp.css';
@import './components/DoctorComp.css';
@import './components/AwardsComp.css';
@import './components/ContactMe.css';
@import './/components/GeneticsComp.css';
@import './components/PrivacyPolicyComp.css';
@import  './components//Footer.css';


/* Page CSS */
@import './pages/login.css';
